---
layout: default
title: Home
---

<h1 class="page-title">Posts</h1>
<div class="post">
<div class="post-list">
  {% for post in paginator.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    <br>
    <small>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      {% for cat in post.categories %}
        <a class="cat" href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>
      {% endfor %}
    </small>
  {% endfor %}
</li>
</div>
</div>
